{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
  <title>SODA</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="grid.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-default" role="navigation">
      <a class="navbar-brand" href="#">SODA</a>
        <div class="container">
            <div class="navbar_header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('registerPatient') }}">Register Patient</a></li>
                    <li><a href="{{ url_for('donate') }}">Register Death</a></li>
                    <li><a href="{{ url_for('patients') }}">Check Organ</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

</body>
