{% extends "base.html" %}
{% block content %}

<!-- <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="./css/floating-labels.css" rel="stylesheet">
</head>

<body>
   <form class="form-signin">
     <div class="text-center mb-4">
       <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
       <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
       <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
     </div>

     <div class="form-label-group">
       <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
       <label for="inputEmail">Email address</label>
     </div>

     <div class="form-label-group">
       <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
       <label for="inputPassword">Password</label>
     </div>
     <button type="submit" class="btn btn-primary btn-block">Log In</button>
     <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
     <div>
         Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a>.
     </div>
   </form>
 </body> -->

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('login') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Hospital Name</label>
                    <input type="text" class="form-control" name="username" placeholder="Hospital Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
            <br>
            <div>
                Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a>.
            </div>
        </div>
    </div>
</div>

{% endblock %}
